<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	version="5.0">
	<filter>
		<description>
		</description>
		<display-name>LoggedFilter</display-name>
		<filter-name>LoggedFilter</filter-name>
		<filter-class>filters.LoggedFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoggedFilter</filter-name>
		<url-pattern>/LoggedFilter</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>CrearUsuario</display-name>
		<servlet-name>CrearUsuario</servlet-name>
		<servlet-class>controller.user.CrearUsuario</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>NuevaCategoriaServlet</display-name>
		<servlet-name>NuevaCategoriaServlet</servlet-name>
		<servlet-class>controller.categories.NuevaCategoriaServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>NuevaMateriaServlet</display-name>
		<servlet-name>NuevaMateriaServlet</servlet-name>
		<servlet-class>controller.materia.NuevaMateriaServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BorrarCategoriaServlet</display-name>
		<servlet-name>BorrarCategoriaServlet</servlet-name>
		<servlet-class>controller.categories.BorrarCategoriaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrearUsuario</servlet-name>
		<url-pattern>/CrearUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NuevaCategoriaServlet</servlet-name>
		<url-pattern>/NuevaCategoriaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NuevaMateriaServlet</servlet-name>
		<url-pattern>/NuevaMateriaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BorrarCategoriaServlet</servlet-name>
		<url-pattern>/BorrarCategoriaServlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

</web-app>
